.campaign-performance-card {
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 18px 10px;
  border-right: 3px solid var(--primary-green);
}
.campaign-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  opacity: 20;
}

.campaign-performance-icon {
  border-radius: 5px;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign-performance-head h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--black-color);
}

.campaign-performance-head p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 16.8px;
  color: var(--black-color);
}

.rfh-basic-button {
  background-color: var(--primary-green);
  color: var(--rfh-button-text-color);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;
}

.rfh-basic-button:hover {
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  background-color: var(--white-color);
}
.campaign-performance-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--black-color);
}

.campaign-performance-card p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 19.6px;
  margin-bottom: 0px;
  color: var(--black-color);
}

.campaign-performance-stats {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.campaign-performance-percentage {
  color: var(--primary-green);
  font-weight: bold;
}

.campaign-performance-graph-card {
  padding: 20px;
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--border-color);
}

.campaign-performance-graph-card h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  color: var(--black-color);
}

.campaign-performance-graph-status-circle {
  width: 12px;
  height: 12px;
  border-radius: 10%;
  display: inline-block;
  margin-right: 10px;
}

.campaign-performance-graph-status-circle.subscribe {
  background-color: var(--primary-green);
}

.campaign-performance-graph-status-circle.unsubscribe {
  background-color: var(--light-grey-color);
}

.campaign-performance-graph-status-text {
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
  color: var(--black-color);
}

.campaign-performance-graph-dropdown-btn {
  background: #f7f7f7;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.campaign-performance-table-head {
  border: 1px solid #e6e4e4;
  padding: 17px;
  border-radius: 9px;
}

.campaign-performance-table-head h6 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 19px;
  color: var(--search-icon-color);
}

.campaign-performance-table-action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.campaign-performance-table-action-icons {
  display: flex;
  gap: 8px;
}

.campaign-performance-table-eye-icon,
.campaign-performance-table-edit-icon,
.campaign-performance-table-delete-icon {
  padding: 9.48px;
  border-radius: 7.59px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  cursor: pointer;
}

.campaign-performance-table-eye-icon {
  background-color: var(--visible-icon-background-color);
}
.campaign-performance-table-eye-icon:hover {
  color: var(--visible-icon-background-color);
  border: 1px solid var(--visible-icon-background-color);
  background-color: var(--white-color);
  font-weight: 600;
}

.campaign-performance-table-edit-icon {
  background-color: var(--icon-background-color);
}

.campaign-performance-table-edit-icon:hover {
  color: var(--icon-background-color);
  border: 1px solid var(--icon-background-color);
  background-color: var(--white-color);
  font-weight: 600;
}

.campaign-performance-table-delete-icon {
  background-color: var(--red-color);
}

.campaign-performance-table-delete-icon:hover {
  color: var(--red-color) !important;
  border: 1px solid var(--red-color);
  background-color: var(--white-color);
  font-weight: 600;
}

.create-campaign-head {
  color: var(--primary-green);
}

.create-campaign-modal-title {
  color: var(--primary-green);
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
}

.create-campaign-save-button {
  background-color: var(--primary-green);
  color: var(--white-color) !important;
}

.create-campaign-cancel-button {
  color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
  font-weight: 600;
}

.create-campaign-cancel-button:hover {
  color: var(--white-color) !important;
  background-color: var(--primary-green) !important;
}

.create-campaign-save-button:hover {
  border-color: var(--primary-green) !important;
  color: var(--primary-green) !important;
}

.create-campaign-ant-upload-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration-skip-ink: none;
  color: var(--primary-grey-color);
}

.create-campaign-ant-upload-drag-icon {
  border: 1px dotted var(--background-color);
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 120px;
}
.create-campaign-input input {
  position: relative;
}

.create-campaign-input-span {
  position: absolute;
  top: -10px;
  font-size: 12px;
  color: var(--black-color);
  left: 4%;
  z-index: 1;
  background-color: var(--white-color);
  padding: 0 6px;
}

.ant-input.create-camapign-input {
  height: 40px;
  background: transparent;
}

.create-camapign-add-button {
  color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
  width: Fixed (153px) px;
  height: Fixed (53px) px;
  padding: 19px 32px;
  border-radius: 8px;
}

.patient-acquisition-graphs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.patient-acquisition-graphs h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: var(--black-color);
}

.patient-acquisition-graph-overview,
.patient-acquisition-graph-gender {
  background: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
}

.patient-acquisition-graph-overview {
  flex: 2;
}

.patient-acquisition-legend-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}

.patient-acquisition-custom-tooltip {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
}

.donut-segment.female:hover {
  stroke-width: 8;
}

.donut-segment {
  transition: stroke-width 0.3s ease;
}

.donut-segment.male {
  stroke-width: 8;
}

.patient-acquisition-fixed-center-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
}

.patient-acquisition-background-circle {
  background-color: var(--white-color);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.fixed-center-value h4 {
  color: var(--black-color);
  font-size: 24px;
  margin: 0;
  font-weight: 500;
}

.patient-detail-head-text h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: var(--black-color);
}

.patient-detail-head-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: var(--secondary-text-color);
}

.patient-detail-personal-information-text,
.patient-detail-address-text {
  border-left: 1px solid var(--border-color);
}

.patient-detail-personal-information-text h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: var(--secondary-text-color);
}

.patient-detail-personal-information-text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: var(--black-color);
}

.patient-detail-address-text p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: var(--black-color);
}

.patient-detail-address-text h6 {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: var(--secondary-text-color);
}

.patient-detail-address-text h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  color: var(--black-color);
}

/* css by keerthi */
.marketing-categories-section h4 {
  font-size: 13px;
  font-weight: 600;
  line-height: 20.93px;
  letter-spacing: -0.03em;
  text-align: left;
  margin-bottom: 0;
  color: var(--black-color) !important;
}

.marketing-categories-section h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 37.93px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--black-color);
}
.marketing-categories-section h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 37.93px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--black-color);
}
.marketing-categories-section p {
  line-height: 37.93px;
  letter-spacing: -0.03em;
  color: var(--black-color);
}
.upcoming-event-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 14px;
  background-color: var(--card-background-color);
  height: 410px;
}
.upcoming-event-card img {
  width: 200px;
  height: 200px;
}
.upcoming-event-card h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.11px;
  text-align: left;
  color: var(--black-color);
}
.upcoming-event-card span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--primary-grey-color);
}
.upcoming-event-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: var(--black-color);
  margin-top: 8px;
  margin-bottom: 10px;
}
.upcoming-event-card ul {
  padding-left: 20px;
}
.upcoming-event-card ul li {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  text-align: left;
  color: var(--black-color);
}
.edit-event-button {
  padding: 4px 15px;
  background-color: var(--white-color);
  color: var(--primary-green);
  border: var(--primary-green) 1px solid;
  border-radius: 8px;
}
.slick-slide {
  padding: 10px 10px;
}

.slick-prev {
  font-size: 0 !important;
  cursor: pointer;
  color: var(--black-color) !important;
  background-color: var(--primary-green) !important;
  border-radius: 50%;
  opacity: 2;
  left: 0 !important;
}
.slick-next {
  font-size: 0 !important;
  cursor: pointer;
  color: var(--black-color) !important;
  background-color: var(--primary-green) !important;
  border-radius: 50%;
  opacity: 2;
  right: 0 !important;
}
.slick-prev:hover,
.slick-next:hover {
  background-color: var(--primary-green) !important;
  color: var(--primary-green) !important;
}
.slick-next:before,
.slick-prev::before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .5;
  color: var(--white-color) !important;
}
.recommend-video-card {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.recommend-video-page {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  height: 400px;
  background-color: var(--card-background-color);
}

.recommend-video-card h4 {
  color: var(--text-white-color) !important;
  font-size: 16px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  /* line-height: 19.36px; */
  text-align: left;
}

.recommend-video-card p {
  color: var(--text-white-color);
  font-size: 14px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
}

.recommend-video-card:hover .video-preview {
  display: block;
}

.feature-program-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: var(--white-color);
}
.feature-program-card img {
  width: 100%;
  height: 250px;
  position: relative;
}
.feature-program-card h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.11px;
  text-align: left;
  color: var(--text-white-color);
}
.feature-program-card span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--primary-grey-color);
}
.feature-program-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: var(--text-white-color);
  margin-top: 8px;
  margin-bottom: 10px;
}

.feature-program-card h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.11px;
  text-align: left;
  color: var(--black-color);
}
.feature-program-card h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--primary-grey-color);
  margin-bottom: 0;
}
.feature-program-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: var(--black-color);
  margin-top: 8px;
  margin-bottom: 10px;
}
.feature-program-card h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.11px;
  text-align: left;
  color: var(--black-color);
}
.feature-program-card h6 {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: var(--primary-grey-color);
  margin-bottom: 0;
}
.feature-program-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: var(--black-color);
  margin-top: 8px;
  margin-bottom: 10px;
}
.feature-program-card ul {
  padding-left: 20px;
}
.feature-program-card ul li {
  font-size: 12px;
  font-weight: 600;
  line-height: 14.52px;
  text-align: left;
  color: var(--black-color);
}

/* manju */

.create-campaign-upload {
  border: 1px dashed var(--border-color);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--upload-image-bg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.create-campaign-cancel-button:hover {
  color: var(--white-color) !important;
  background-color: var(--primary-green) !important;
}

.ant-picker-dropdown .ant-picker-panel-container {
  border: 1px solid var(--primary-green) !important;
}
.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: var(--primary-green) !important;
  color: var(--white-color) !important;
  border-radius: 50% !important;
}
.ant-picker-cell-inner:hover {
  background-color: var(--primary-green) !important;
  border-radius: 50% !important;
  color: var(--white-color) !important;
}
.ant-picker-focused {
  border: 1px solid var(--primary-green) !important;
}

.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: var(--primary-green) !important;
}
.ant-picker-footer.ant-picker-today-btn {
  display: none !important;
}

.action-icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.action-icon-button {
  color: var(--black-color);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.filter-menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2px;
  padding: 8px 12px;
  cursor: pointer;
}
.filter-menu-item:hover {
  text-decoration: underline;
}

/* manju */

.recommend-video-card iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
}
.recommend-video-card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  color: white;
  padding: 12px;
}
.recommend-video-card-content h4 {
  font-size: 20px;
  margin-bottom: 4px;
  color: var(--text-white-color);
}
.recommend-video-card-content p {
  font-size: 11px;
  color: var(--text-white-color);
}
.clinic-vertical-line {
  border: 1px solid var(--primary-green);
  height: 14px;
}

@media (max-width: 768px) {
  .campaign-performance-head button {
    font-size: 12px;
  }
  .patient-detail-personal-information-text,
  .patient-detail-address-text {
    border-top: 1px solid var(--border-color);
    border-left: none;
    padding-top: 10px;
  }
}

/* ===========keerthi========= */

.recommended-video-action-button {
  position: relative;
  z-index: 2;
  color: var(--white-color);
  background-color: none;
  width: 100%;
  border: none;
}
.featured-program-icon-container {
  z-index: 2;
  position: absolute;
  top: 15px;
}

.model-image-upload-delete-icon {
  color: var(--black-color);
  background-color: var(--white-color);
}

.image-upload-icon {
  color: var(--black-color);
}

.outstation-clinic-data p {
  margin-bottom: 0px;
}

.outstation-clinic-upcoming-event-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 14px;
  background-color: var(--card-background-color);
  height: 450px;
}
.outstation-clinic-upcoming-event-card img {
  width: 200px;
  height: 200px;
}
.outstation-clinic-upcoming-event-card h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 17.11px;
  text-align: left;
  color: var(--black-color);
}

.outstation-clinic-upcoming-event-card p {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: var(--search-icon-color);
  margin-top: 8px;
  /* margin-bottom: 10px; */
}

.outstation-clinic-upcoming-event-card span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: left;
  color: var(--black-color);
  margin-top: 8px;
  margin-bottom: 10px;
}

.view-treatment-info-modal-content p {
  color: var(--black-color);
}

.view-treatment-info-modal-content ul {
  color: var(--black-color);
}
.recommended-latest-camp {
  background-color: var(--);
}
.recommended-latest-camp-map {
  height: 250px;
  position: relative;
}
.recommended-latest-camp {
  background-color: var(--white-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 420px;
}
.recommend-latest-camp-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
}
.recommend-latest-camp-content p {
  font-size: 12px;
  color: var(--black-color);
  margin-bottom: 2px;
}

.latest-camp-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

@media (max-width: 1024px) {
  .outstation-clinic-upcoming-event-card {
    height: 600px;
  }
  .upcoming-event-card {
    height: 520px;
  }
}

.events-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.events-buttons {
  display: flex;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .events-header-container {
    flex-direction: column;
    align-items: stretch;
  }

  .events-buttons {
    justify-content: space-between;
  }
}
