.campaign-performance-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-right: 3px solid var(--primary-green);
}

.campaign-performance-icon {
  border-radius: 5px;
  width: 29px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campaign-performance-head h3 {
  font-size: 22px;
  font-weight: 600;
}

.campaign-performance-head p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 16.8px;
}

.rfh-basic-button {
  background-color: var(--primary-green);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
}

.campaign-performance-card h3 {
  font-size: 24px;
  font-weight: 600;
}

.campaign-performance-card p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 19.6px;
}

.campaign-performance-stats {
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.campaign-performance-percentage {
  color: var(--primary-green);
  font-weight: bold;
}

.campaign-performance-graph-card {
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #eee;
}

.campaign-performance-graph-card h3 {
  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

.campaign-performance-graph-status-circle {
  width: 12px;
  height: 12px;
  border-radius: 10%;
  display: inline-block;
  margin-right: 10px;
}

.campaign-performance-graph-status-circle.subscribe {
  background-color: var(--primary-green);
}

.campaign-performance-graph-status-circle.unsubscribe {
  background-color: #f2efff;
}

.campaign-performance-graph-status-text {
  font-size: 14px;
  font-weight: 500;
  margin-right: 15px;
}

.campaign-performance-graph-dropdown-btn {
  background: #f7f7f7;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.campaign-performance-table-head {
  border: 1px solid #e6e4e4;
  padding: 17px;
  border-radius: 9px;
}

.campaign-performance-table-head h6 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -2%;
  line-height: 19px;
  color: var(--secondary-text-color);
}

.campaign-performance-table .ant-table-tbody > tr > td {
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 18px;
}

.campaign-performance-table .ant-table-thead > tr > th {
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 18px;
  color: #acb5bb;
}

.campaign-performance-table-action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.campaign-performance-table-action-icons {
  display: flex;
  gap: 8px;
}

.campaign-performance-table-eye-icon,
.campaign-performance-table-edit-icon,
.campaign-performance-table-delete-icon {
  padding: 9.48px;
  border-radius: 7.59px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}

.campaign-performance-table-eye-icon {
  background-color: #2b7f75;
}

.campaign-performance-table-edit-icon {
  background-color: #54a6ff;
}

.campaign-performance-table-delete-icon {
  background-color: #e61313;
}

.create-campaign-head {
  color: var(--primary-green);
}

.create-campaign-modal-title {
  color: var(--primary-green);
}

.create-campaign-save-button {
  background-color: var(--primary-green);
  color: var(--white-color) !important;
}

.create-campaign-cancel-button {
  color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
}

.create-campaign-save-button:hover {
  border-color: var(--primary-green) !important;
  color: var(--primary-green) !important;
}

.create-campaign-ant-upload-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration-skip-ink: none;
  color: #9da2a7;
}

.create-campaign-ant-upload-drag-icon {
  border: 1px dotted #c6c8cb;
  padding: 10px;
  border-radius: 12px;
}

.create-campaign-ant-upload-drag-icon {
  border: 1px dotted #c6c8cb;
  padding: 8px;
  border-radius: 12px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 120px;
}
.create-campaign-input input {
  position: relative;
}

.create-campaign-input-span {
  position: absolute;
  top: -10px;
  font-size: 12px;
  color: var(--secondary-text-color);
  left: 4%;
  z-index: 1;
  background-color: var(--white-color);
  padding: 0 6px;
}

.ant-input.create-camapign-input {
  height: 40px;
}

.create-camapign-add-button {
  color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
  width: Fixed (153px) px;
  height: Fixed (53px) px;
  padding: 19px 32px;
  border-radius: 8px;
}
