.health-package-add-feature {
  width: fit-content;
  padding: 4px 8px;
  background-color: var(--white-color);
  border: 1px dotted var(--primary-green);
  border-radius: 5px;
  color: var(--primary-green);
}
.health-package-input {
  border: var(--primary-green) 1px solid;
  background-color: var(--nav-color);
  color: var(--black-color) !important;
  padding: 6px 12px;
  border-radius: 5px;
  width: fit-content;
  font-size: 14px;
  font-weight: 600;
}
.trash-icon-health-package {
  color: var(--primary-green);
  font-size: 20px;
}
.health-package-modal-header {
  background: linear-gradient(var(--primary-green), #fff);
  /* height: 200px; */
}
.view-health-package-modal .ant-modal-content {
  padding: 0 0 20px 0 !important;
}
.health-package-modal-header {
  padding: 40px;
}
.health-package-modal-header img {
  height: 200px;
  width: 200px;
}
.health-package-modal-header h4 {
  font-size: 24px;
  color: var(--black-color);
  font-weight: 700;
}
.health-package-modal-content {
  padding: 20px;
  color: var(--black-color);
}
.health-package-modal-content h5 {
  font-size: 16px;
  font-weight: 700;
  color: var(--black-color);
}
.health-package-modal-content h6 {
  font-size: 14px;
  color: var(--black-color);
}

.package-detail-item {
  color: var(--black-color);
}
