.role-users-profile-card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.role-users-profile-card h2 {
  font-size: 14px;
  color: var(--black-color);
  font-weight: 900;
  text-align: center;
}
.role-users-profile-card h4 {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 3px;
}
.role-users-profile-card button {
  font-size: 12px;
  font-weight: 900;
  padding: 8px 16px;
  width: 100%;
  border-radius: 5px;
}
.role-users-profile-card button:hover {
  color: var(--white-color);
  background-color: var(--gradient-start-color);
}
.inactive-status-button {
	background-color: var(--red-color);
	color: var(--white-color) !important;
  }
.inactive-status-button:hover {
	border-color: var(--red-color) !important;
	color: var(--red-color) !important;
  }
.role-users-profile-card.inactive-card {
	background-color: var(--bg-gray-color);
	border: 1px solid var(--bg-gray-color);
  }