.search-container {
  position: relative;
}
.search-input-table {
  padding: 8px 32px;
  background: var(--text-color);
  border-radius: 8px;
  color: var(--search-icon-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
  border: 1px solid var(--border-color);
}
.search-input-table:focus-visible {
  border: 1px solid var(--border-color);
  outline: none;
}
.table-card-list {
  font-size: 26px;
  font-weight: 600;
}
.appoinment-table-data {
  padding: 10px;
}
.table-data-list:hover,
.table-card-list:hover {
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
}
.table-data-list {
  font-size: 26px;
  font-weight: 600;
  color: var(--black-color);
}
.table-data-list:hover,
.table-card-list:hover {
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
}
.appointment-active-icon {
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  font-size: 26px;
}

.appointment-cards {
  box-shadow: 0px 2px 6px 0px #0d0a2c14;
  padding: 20px 9px;
  border-radius: 5px;
  background-color: var(--card-background-color);
}
.appointment-title-icon {
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: 31px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-title h5 {
  font-size: 14px;
  font-weight: 600;
  color: var(--black-color);
}
.appointment-card-header button {
  font-size: 14px;
  background-color: var(--appointment-button-bg);
  color: var(--primary-green);
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.appointment-card-body h6 {
  font-size: 12px;
  color: var(--bg-gray-title);
  font-weight: 500;
}
.appointment-card-body p {
  font-size: 12px;
  color: var(--black-color);
  font-weight: 600;
}

.ant-tabs > .ant-tabs-nav {
  margin-bottom: 0;
}

.ant-tabs .ant-tabs-tab {
  color: var(--black-color);
}

.appoinment-table-data {
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.patient-feedback-div {
  background-color: var(--card-background-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.patient-left-border {
  border-left: 3px solid;
  padding-left: 14px;
  margin: 15px;
}
.patient-name-feedback h5 {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
}
.status-circle {
  width: 8px;
  height: 8px;
  background-color: var(--primary-grey-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0px;
}
.patient-feedback-time {
  color: var(--faq-ans-color);
  font-size: 12px;
  font-weight: 500;
}
.patient-feedback-title {
  color: var(--black-color);
  font-weight: 500;
  font-size: 12px;
}
.patient-feedback-div h6 {
  color: var(--black-color);
  font-weight: 600;
  font-size: 12px;
}
.patient-feedback-div p {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 12px;
}
.reply-feedback {
  padding: 12px;
  background-color: var(--bg-input-field);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.reply-input {
  border: none;
  outline: none;
  width: 100%;
  color: var(--black-color);
  font-size: 14px;
  background: transparent;
}

.reply-input::placeholder {
  color: var(--gray-text-color);
  font-size: 12px;
  font-weight: 500;
}

.icon-circle {
  background-color: var(--bg-green);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reply-icon {
  color: var(--primary-green);
  font-size: 13px;
}
.new-users-scroll {
  overflow-y: auto;
  height: 870px;
}

.new-users-scroll::-webkit-scrollbar {
  width: 0px;
}

.status-circle-list {
  width: 4px;
  height: 4px;
  background-color: var(--primary-grey-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 0px;
}

.doctor-detail-page {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
  padding: 5px;
  background-color: var(--card-background-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.between-line {
  width: 2px;
  height: 14px;
  background-color: var(--primary-green);
  display: inline-block;
  margin: 0 8px;
  vertical-align: middle;
}

.view-doctor-detail-info-section h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: var(--black-color);
}
.view-doctor-detail-info-section h6 {
  color: var(--black-color);
}
.view-doctor-detail-info-section p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black-color);
  margin-bottom: 0;
}

.view-doctor-detail-availability {
  background-color: var(--bg-green-color);
  color: var(--secondary-text-color);
  border-radius: 16px;
  padding: 2px 8px;
}

.view-doctor-detail-info-section {
  margin-top: 20px !important;
  padding: 10px;
}

.view-doctor-detail-specialist-section h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--faq-ans-color);
}
.view-doctor-detail-specialist-section h6 {
  color: var(--black-color);
}

.view-doctor-detail-specialist-section p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--black-color);
  margin-bottom: 0;
}
.view-doctor-detail-specialist-section {
  padding: 10px;
}
.view-doctor-detail-contact-icon {
  color: var(--white-color);
  background-color: var(--primary-green);
  border-radius: 50%;
  padding: 5px;
}
.view-doctor-detail-contact-info {
  padding: 10px;
}
.view-doctor-detail-contact-info p {
  font-size: 12px;
  font-weight: 400;
  line-height: 17.24px;
  color: var(--black-color);
  margin-bottom: 0;
}
.view-doctor-detail-work-experience {
  padding: 10px;
}
.view-doctor-detail-work-experience h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: var(--faq-ans-color);
}

.view-doctor-detail-work-experience h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--black-color);
  margin-bottom: 0;
}

.view-doctor-detail-work-experience p {
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  color: var(--black-color);
  margin-bottom: 0;
}

.view-doctor-detail-doctor-image {
  background-image: url("../../Assets/Images/bannerrfh.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  height: 128px;
}
.view-doctor-profile-image {
  top: 80px;
  margin-left: 10px;
  background-color: var(--white-color);
}

/* manju */

.virtual-management-graph-head h3 {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.virtual-management-graph-head button {
  border-radius: 14px;
  font-size: 9.26px;
  font-weight: 400;
  line-height: 13.89px;
  border: 1px solid var(--button-text-color);
  padding: 0px 20px;
  background: none;
  color: var(--black-color);
}

.virtual-management-graph-btn-text {
  font-size: 10px;
  font-weight: 400;
  line-height: 13.89px;
  color: var(--button-text-color);
}

.virtual-management-donut-chart-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.custom-donut-chart {
  transform: rotate(-90deg);
}

.custom-donut-center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.custom-donut-center-circle {
  background: var(--white-color);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-donut-center-circle h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-color);
}

.custom-donut-center-circle p {
  font-size: 12px;
  color: var(--black-color);
}

.custom-donut-legend-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--black-color);
}

.custom-donut-legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
}

.virtual-management-graph {
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.virtual-management-chart {
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.create-campaign-upload.ant-upload-wrapper {
  height: 187px;
  background-color: var(--card-background-color) !important;
}
.upload-users-image {
  border: 1px dashed var(--border-color);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--upload-image-bg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload-users-image.ant-upload-wrapper {
  background-color: var(--card-background-color) !important;
}
.doctor-detail-page-head {
  border: 1px solid var(--border-color);
  padding: 32px;
  border-radius: 12px;
}

.view-doctor-detail-graph-container {
  padding: 20px;
  background: var(--white-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.view-doctor-detail-graph-header h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: var(--black-color);
}

.view-doctor-detail-graph-header p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.view-doctor-detail-btn {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
  color: var(--secondary-text-color);
  background-color: var(--button-bg-color);
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
}

.view-doctor-detail-btn.active {
  background-color: var(--primary-green);
  color: var(--white-color);
}

.view-doctor-detail-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
}

.view-doctor-detail-review-head h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-color);
}

.view-doctor-detail-review-info h3 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--black-color);
}

.view-doctor-detail-review-info p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black-color);
}

.view-doctor-detail-review-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--black-color);
}

.view-doctor-detail-review-cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 10px;
}

.view-doctor-detail-review-cards-container::-webkit-scrollbar {
  display: none;
}

.view-doctor-detail-review-card {
  background-color: var(--card-background-color);
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  height: 185px;
  flex-shrink: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.view-doctor-detail-card-header-info h4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: var(--black-color);
}

.view-doctor-detail-card-header-info p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black-color);
}

.view-doctor-detail-review-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--black-color);
}

.view-doctor-detail-slider-line {
  height: 5px;
  width: 20px;
  background-color: var(--primary-grey-color);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.view-doctor-detail-slider-line.active {
  background-color: var(--primary-green);
}

.chat-sidebar {
  padding: 24px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 85vh;
  overflow-y: auto;
}
.chat-sidebar::-webkit-scrollbar {
  width: 4px;
}
.chat-sidebar::-webkit-scrollbar-thumb {
  background-color: var(--primary-green);
}

.chat-sidebar::-webkit-scrollbar-track {
  background-color: var(--border-color);
}
.chat-messages::-webkit-scrollbar {
  width: 4px;
}
.chat-messages::-webkit-scrollbar-thumb {
  background-color: var(--primary-green);
}

.chat-messages::-webkit-scrollbar-track {
  background-color: var(--border-color);
}
.recent-chats-section {
  overflow-y: auto;
  padding-right: 8px;
}

.main-chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 85vh;
  position: relative;
}

.profile-info h2,
.recent-chats h3 {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  color: var(--black-color);
  letter-spacing: -0.1px;
}

.recent-chats h3 {
  text-decoration: solid var(--maroon-color) underline;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
}

.user-profile,
.chat-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.status {
  color: var(--success-color);
  font-size: 12px;
  margin-bottom: 0;
}

.ellipse-btn {
  background: var(--white-color);
  border: 0;
}

.search-bar {
  position: relative;
}

.search-bar svg,
.chat-actions svg {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  color: var(--maroon-color);
}

.message-input input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: var(--text-color);
}
.search-bar input {
  width: 100%;
  padding: 6px;
  border: none;
  background-color: var(--white-color);
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 34px 0px #00963f1a;
}

.search-bar input:focus,
.message-input input:focus {
  outline: none;
}

.chat-filters {
  display: flex;
  gap: 4px;
  margin: 10px 0;
}

.chat-filters button {
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  background-color: var(--white-color);
  color: var(--black-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid var(--border-color);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.1px;
}

.chat-filters button.message-active {
  background-color: var(--primary-green);
  color: var(--white-color);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
}

.message {
  background-color: var(--primary-green);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 10px;
  width: fit-content;
  word-wrap: break-word;
  color: var(--white-color);
}

.no-chat-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  color: var(--black-color);
}

.message.received {
  align-self: flex-start;
}

.message .time {
  font-size: 10px;
  font-weight: 500;
  color: var(--text-semi-color);
}

.date-separator {
  display: flex;
  align-items: center;
}

.date-separator button {
  text-align: center;
  color: var(--maroon-color);
  border: 1px solid var(--border-color);
  border-radius: 24px;
  background: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  padding: 6px 12px;
  margin: 10px 8px;
}

.line-horizontal {
  width: 100%;
  background: var(--border-color);
  height: 1px;
}

.message-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid var(--border-color);
  gap: 4px;
  position: absolute;
  width: 100% !important;
  bottom: 0px;
  background-color: var(--white-color);
}

.message-input-container input {
  flex: 1;
  margin-right: 10px;
  background: transparent !important;
  color: var(--black-color);
}

.add-document-button {
  padding: 10px;
  background-color: var(--border-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.chat-item {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 4px 0;
}

.chat-item:hover {
  background-color: var(--border-color);
}

.active-chat {
  background-color: var(--nav-color) !important;
}
.chat-header {
  height: 250px;
  background: rgb(226, 243, 249);
  background: radial-gradient(
    circle,
    rgba(226, 243, 249, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  position: sticky;
  z-index: 1;
}
.chat-info {
  flex: 1;
  margin-left: 10px;
}

.chat-info h4 {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.1px;
  color: var(--black-color);
  margin-bottom: 0;
}

.chat-info p,
.chat-meta p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.1px;
  margin-bottom: 0;
  color: var(--secondary-text-color);
}

.chat-meta {
  text-align: right;
}
.message-content {
  padding: 10px;
  display: flex;
}
.unread-count {
  background-color: var(--maroon-red);
  color: var(--white-color);
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
}

.message p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.1px;
  color: var(--text-black-color);
}

.message.self {
  background-color: var(--message-bg);
  color: var(--black-color);
  border-radius: 4px;
  padding: 8px 16px;
  text-align: end;
  align-self: flex-end;
}

.message.self .time {
  color: var(--white-color);
}

.chat-actions {
  display: flex;
  gap: 10px;
}
@media (max-width: 768px) {
  .team-chat-container {
    flex-direction: column;
    height: 86vh;
  }

  .chat-sidebar {
    display: none;
  }

  .main-chat {
    display: none;
  }

  .sidebar-visible .chat-sidebar {
    display: block;
    width: 100%;
  }

  .chat-visible .main-chat {
    display: block;
  }

  .chat-visible .chat-sidebar {
    display: none;
  }
}
@media (max-width: 576px) {
  .message-input-container {
    width: 240px;
  }
  .message-input-container input {
    width: 120px;
  }
}
.chat-header-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.chat-header-icon img {
  width: 160px;
  height: 160px;
}
.chat-header-icon h4 {
  font-size: 18px;
  color: var(--secondary-text-color);
  margin-top: 10px;
  text-align: center;
}

/* Back button for mobile */
.back-btn {
  display: none;
}

@media (max-width: 768px) {
  .back-btn {
    display: block;
    margin-right: 10px;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
}
.message-input-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 25px;
  /* padding: 5px 10px; */
  width: 100%;
  background-color: var(--white-color);
}
.emoji-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}
.message-send-btn {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-green);
}
.message-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 5px;
}
.technical-support-heading h4 {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  text-align: left;
  margin-bottom: 0;
}
.technical-support-heading p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: var(--secondary-text-color);
}
.chat-messages h6 {
  font-size: 12px;
  color: var(--secondary-text-color);
}
.disabled-input.ant-input-outlined.ant-input-disabled,
.ant-input-outlined[disabled] {
  background-color: var(--white-color);
}
.quill-editor .ql-container {
  border-radius: 0px 0px 6px 6px;
}
.quill-editor .ql-toolbar {
  border-radius: 6px 6px 0 0;
}

.news-content p {
  color: var(--black-color);
  margin-bottom: 1px;
}

.news-content h6 {
  color: var(--black-color);
}
