.education-categories-gastro-head-text h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 37.93px;
  letter-spacing: -0.03em;
  color: var(--black-color);
}

.add-events-datepicker.ant-picker-outlined {
  padding: 8px 6px;
  background: transparent;
}

.ant-select-selector {
  padding: 19px 11px !important ;
}

.recommend-image-card {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  height: 299px;
  position: relative;
  overflow: hidden;
}

.recommend-image-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180.17deg,
    rgba(0, 0, 0, 0) 41.5%,
    rgba(0, 0, 0, 0.6) 99.86%
  );
  z-index: 1;
}

.recommend-image-card h4 {
  color: var(--text-white-color) !important;
  font-size: 19px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
}

.recommend-image-card p {
  color: var(--text-white-color);
  font-size: 11px;
  position: relative;
  z-index: 2;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
}

.education-categories-faq-container {
  padding: 40px 48px;
  background-color: var(--white-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.education-categories-faq-container h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 37.93px;
  letter-spacing: -0.03em;
  color: var(--black-color);
}

.education-categories-faq-menu {
  position: relative;
  color: var(--primary-green);
}

.education-categories-menu-options {
  position: absolute;
  top: 32px;
  z-index: 10;
  right: 0;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.education-categories-menu-options button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.education-categories-menu-options button:hover {
  background-color: var(--button-bg-hover);
}

.education-categories-faq-item {
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.education-categories-faq-question {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: var(--black-color);
}

.education-categories-faq-answer {
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  color: var(--faq-ans-color);
}
.treatment-info-icon-container{
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 10px;
}
.health-package-modal-header{
  background: linear-gradient(var(--primary-green),#fff);
  /* height: 200px; */

}
.view-health-package-modal .ant-modal-content{
  padding: 0 0 20px 0 !important;
}
.health-package-modal-header{
  padding: 40px;
}
.health-package-modal-header img{
  height: 200px;
  width: 200px;
}
.health-package-modal-header h4{
  font-size: 24px;
  color: var(--black-color);
  font-weight: 700;
}
.health-package-modal-content{
  padding: 20px;
}
.health-package-modal-content h5{
font-size: 16px;
font-weight: 700;
}
.health-package-modal-content h6{
  font-size: 14px;
  color: var(--black-color);
}

.view-treatment-info-modal-header{
  background: linear-gradient(var(--primary-green),#fff);
}
.view-treatment-info-modal .ant-modal-content{
  padding: 0 0 20px 0 !important;
}
.view-treatment-info-modal-header{
  padding: 40px;
}
.view-treatment-info-modal-header img{
  height: 200px;
  width: 200px;
}
.view-treatment-info-modal-header h4{
  font-size: 24px;
  color: var(--black-color);
  font-weight: 700;
}
.view-treatment-info-modal-content{
  padding: 20px;
}
.view-treatment-info-modal-content h5{
font-size: 16px;
font-weight: 700;
color: var(--black-color);
}
.view-treatment-info-modal-content h6{
  font-size: 14px;
  color: var(--black-color);
}

.rfh-view-all-button{
  background-color: transparent;
  border: none;
  color: var(--primary-green);
  text-decoration: underline;
}
