.education-categories-gastro-head-text h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 37.93px;
  letter-spacing: -0.03em;
  color: var(--black-color);
}

.ant-picker-outlined {
  padding: 8px 6px;
}

.education-categories-treatments-info-head img {
  width: 100%;
  height: 350px;
}





