body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Proxima Nova', sans-serif;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../src/Assets/ProximaNova/Proxima\Nova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../src/Assets/ProximaNova/Proxima\ Nova\ Alt\ Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../src/Assets/ProximaNova/Proxima\ Nova\ Alt\ Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../src/Assets/ProximaNova/Proxima\ Nova\ Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}


body,
.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-checkbox,
.ant-radio,
.ant-form-item-label,
.ant-tabs {
  font-family: 'Proxima Nova', sans-serif !important;
  /* color: var(--black-color) !important; */
}

:where(.css-dev-only-do-not-override-1x0dypw).ant-table-wrapper .ant-table {
  font-family: 'Proxima Nova', sans-serif !important;
}
@media (max-width: 768px) {
  .ant-table-container {
    overflow-x: scroll;
  }
}
.custom-swal-popup {
  border-radius: 15px !important;
}
.custom-swal-button {
  padding: 13px 24px !important;
  font-size: 16px !important;
  border-radius: 12px !important;
}
.custom-swal-image {
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}
.delete-message {
  font-size: 24px;
  color: var(--black-color) !important;
  text-align: center;
}
.global-delete-button {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: 13px 24px !important;
  border-radius: 10px !important;
  border: none !important;
  font-weight: 500 !important;
}

.global-delete-button:hover {
  background-color: #d32029;
}
.global-footer-div {
  display: flex !important;
  justify-content: center !important;
  gap: 20px !important;
}
.global-cancel-button {
  color: var(--black-color) !important;
  border: 1px solid var(--border-color) !important;
  padding: 13px 24px !important;
  border-radius: 10px !important;
  background: none;
  font-weight: 500 !important;
}
.global-cancel-button:hover {
  background-color: none;
  color: var(--black-color);
}

.dropdown-hover-color .ant-dropdown-menu-item:hover,
.dropdown-hover-color .ant-dropdown-menu-item-selected {
  background-color: var(--primary-green) !important;
  color: white;
}

.dropdown-hover-color .ant-btn:hover,
.dropdown-hover-color .ant-btn:focus {
  background-color: var(--primary-green) !important;
  color: white;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: var(--primary-green);
}

.ant-checkbox-checked:hover .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-green) !important;
  border-color: var(--primary-green) !important;
  color: white !important;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
  background: var(--table-head-bg-color);
}

.ant-table-tbody > tr > td {
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 18px;
  background-color: var(--table-data-bg-color) !important;
  color: var(--black-color);
}

.ant-table-thead > tr > th {
  border: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 18px;
  color: var(--table-heading-color);
  background-color: var(--table-head-bg-color) !important;
}
.search-input-header::placeholder,
.search-input-table::placeholder {
  color: var(--search-icon-color);
}

.ant-input::placeholder {
  color: var(--input-text-color);
  font-size: 12px;
}

.ant-picker .ant-picker-input > input::placeholder {
  color: var(--secondary-text-color);
  font-size: 12px;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #d9d9d9;
  background: transparent;
}

.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-placeholder {
  color: var(--secondary-text-color);
  font-size: 12px;
}

.ql-editor.ql-blank::before {
  color: var(--secondary-text-color) !important;
  font-size: 12px;
}

.ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-item {
  color: var(--black-color) !important;
}

.ant-select-dropdown {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}

.ant-picker {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
  background: transparent !important;
}

.ant-picker-dropdown {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}

.ant-picker-calendar {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
  background-color: var(--white-color) !important;
}

.ant-picker-dropdown .ant-picker-ranges {
  background-color: var(--white-color);
}

.ant-picker-dropdown .ant-picker-header {
  background-color: var(--white-color);
}

.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
  color: var(--black-color);
}

.ant-picker-dropdown .ant-picker-date-panel .ant-picker-content th {
  color: var(--black-color);
}

.ant-picker-dropdown .ant-picker-header-view {
  color: var(--black-color);
}

.ant-picker-dropdown .ant-picker-header > button {
  color: var(--black-color);
}

.ant-btn {
  background: transparent;
  color: var(--black-color);
}

.ant-btn:hover {
  background: transparent !important;
  color: var(--black-color) !important;
}

.ant-card .ant-card-body {
  background-color: var(--white-color);
}

.ant-checkbox-wrapper {
  color: var(--black-color);
}

.ant-card {
  color: var(--black-color);
}

.ant-input-outlined {
  background-color: var(--white-color);
}

.ant-input-outlined:hover {
  background-color: var(--white-color) !important;
}

.ant-picker-dropdown .ant-picker-panel > .ant-picker-time-panel {
  background-color: var(--white-color);
  color: var(--black-color);
}

.ant-picker-dropdown
  .ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell
  .ant-picker-time-panel-cell-inner {
  color: var(--black-color);
}

.ant-btn-variant-solid:disabled {
  color: var(--black-color);
}

.ant-select-dropdown .ant-select-item-option-content {
  color: var(--black-color);
}

.ant-input.settings-input {
  color: var(--black-color);
}

.ant-modal .ant-modal-content {
  background-color: var(--model-background-color);
}

.ant-modal .ant-modal-title {
  background-color: var(--model-background-color) !important;
}

.ant-input.create-camapign-input:hover {
  background: transparent !important;
}

.form-select {
  font-size: 12px;
  color: var(--secondary-text-color) !important;
  background-color: var(--model-background-color);
  padding: 10px 10px;
}

.form-select:focus-within,
.form-select:hover {
  border-color: var(--primary-green) !important;
}

.ant-input-outlined:focus-within,
.ant-input-outlined:hover {
  border-color: var(--primary-green) !important;
  background-color: var(--model-background-color);
}

.readOnly-disabled-bg:disabled {
  background-color: transparent !important;
}

.ant-input {
  color: var(--black-color);
  background: transparent;
  font-size: 14px;
  padding: 10px;
}

.ant-form-vertical
  .ant-form-item:not(.ant-form-item-horizontal)
  .ant-form-item-label
  > label {
  color: var(--black-color);
}

.ant-input.settings-input {
  background: transparent !important;
}

.ant-input-affix-wrapper > input.ant-input {
  color: var(--black-color);
}

.ant-input-affix-wrapper.settings-input {
  background-color: var(--model-background-color);
}

.swal2-center > .swal2-popup {
  background-color: var(--model-background-color);
  color: var(--black-color) !important;
}

.swal2-html-container {
  color: var(--black-color);
}

.ant-modal .ant-modal-close {
  color: var(--black-color);
}

.ant-modal .ant-modal-close:hover {
  color: var(--black-color);
}

.ant-radio-wrapper span.ant-radio + * {
  color: var(--secondary-text-color);
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ant-color-picker-trigger {
  padding: 10px 18px;
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  /* background-color: #f7fafc; */
  padding: 16px;
  text-align: center;
}

.coming-soon-image {
  max-width: 450px;
  width: 100%;
}

.coming-soon-title {
  margin-top: 24px;
  font-size: 35px;
  font-weight: bold;
  color: var(--black-color);
}

.coming-soon-text {
  margin-top: 8px;
  color: var(--search-icon-color);
  font-size: 16px;
}

/* .news-content h3, .news-content h4, .news-content p, .news-content h1, .news-content h2, .news-content h5, .news-content h6{

  color: var(--black-color) !important;
} */
.checkbox-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 10px;
  padding: 10px 0;
}
.unauthorized-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.unauthorized-image {
  max-width: 600px;
}

.unauthorized-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--black-color);
}

.news-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.news-content .ql-indent-1 {
  margin-left: 20px;
}

.news-content .ql-indent-2 {
  margin-left: 40px;
}

.news-content .ql-indent-3 {
  margin-left: 60px;
}

.news-content .ql-indent-4 {
  margin-left: 80px;
}
.ant-table-column-title,
.ant-table-cell {
  color: var(--black-color);
}
.ant-table-wrapper .ant-table-thead > tr > th {
  color: var(--black-color);
}
.ant-empty-normal .ant-empty-description {
  color: var(--search-icon-color);
}

.jodit-status-bar {
  background-color: var(--white-color) !important;
  display: none !important;
}
.ant-modal-body::-webkit-scrollbar {
  width: 0px;
}

.dragging {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.campaign-performance-table tr {
  transition: all 0.2s ease;
}

ul[style*="list-style-type: square;"] li::marker {
  content: "▸";
font-size: 16px;

  /* color: black; Adjust color */
}
.jodit-workplace p {
  margin-bottom: 0px;
}
.jodit-workplace ul{
  padding-left: 1rem !important;
  margin-bottom: 0px;
}
.jodit-workplace ol{
  padding-left: 1rem !important;
  margin-bottom: 0px;
}

.jodit-container {
  background-color: var(--card-background-color) !important;
  color: var(--black-color) !important;
}

.jodit-container .jodit-workplace,
.jodit-toolbar__box {
  background-color: var(--card-background-color) !important;
  color: var(--black-color) !important;
}
.jodit-container .jodit-toolbar-button {
  color: var(--black-color) !important;
}
.jodit-container .jodit-toolbar-button svg {
  fill: var(--black-color) !important;
  stroke: var(--black-color) !important;
}
.ant-color-picker-trigger .ant-color-picker-trigger-text {
  color: var(--black-color) !important;
}
.ant-color-picker-trigger {
  background: var(--white-color) !important;
}
.jodit-container {
  resize: vertical;
  overflow: auto;
  min-height: 250px !important;
  max-width: 100%;
}
.jodit-toolbar-button_font {
  display: none !important;
}
.jodit-add-new-line{
  display: none !important;
}
.jodit-wysiwyg {
  font-family: "Proxima Nova", sans-serif !important;
}
.jodit-wysiwyg span{
  font-family: "Proxima Nova", sans-serif !important;
}
.hide-placeholder-editor .jodit-placeholder {
  display: none !important;
}
