body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins";
}

body,
.ant-typography,
.ant-btn,
.ant-input,
.ant-select,
.ant-checkbox,
.ant-radio,
.ant-form-item-label,
.ant-tabs {
  font-family: 'Poppins' !important;
  /* color: var(--black-color) !important; */
}
@media (max-width: 768px){
  .ant-table-container{
    overflow-x: scroll;
  }
}
.custom-swal-popup {
  border-radius: 15px !important; 
}
.custom-swal-button {
  padding: 13px 24px !important;  
  font-size: 16px !important;    
  border-radius: 12px !important; 
}
.custom-swal-image {
  margin-bottom: 0 !important; 
  margin-top: 10px !important;
}
.delete-message{
  font-size: 24px;
  color: var(--swal-color) !important;
  text-align: center;
}
.global-delete-button {
  background-color: var(--red-color); 
  color: var(--white-color);
  padding: 13px 24px !important;
  border-radius: 10px !important;
  border: none !important;
  font-weight: 500 !important;
}

.global-delete-button:hover {
  background-color: #d32029; 
}
.global-footer-div{
  display: flex !important;
  justify-content: center !important;
  gap: 20px !important; 
}
.global-cancel-button{
  color: var(--swal-color) !important;
  border: 1px solid #DCE4E8 !important;
  padding: 13px 24px !important;
  border-radius: 10px !important;
  background:none;
  font-weight: 500 !important;
}
.global-cancel-button:hover{
  background: var( --button-bg-color );
}
/* Dropdown */
.dropdown-hover-color .ant-dropdown-menu-item:hover,
.dropdown-hover-color .ant-dropdown-menu-item-selected {
  background-color: var(--primary-green) !important;
  color: white; /* Optional: Adjust text color for better contrast */
}

.dropdown-hover-color .ant-btn:hover,
.dropdown-hover-color .ant-btn:focus {
  background-color: var(--primary-green) !important;
  color: white; /* Optional: Adjust button text color */
}

.ant-table-wrapper .ant-table-tbody .ant-table-row >.ant-table-cell-row-hover{
  background: var(--table-head-bg-color);
}

.ant-table-tbody > tr > td {
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 18px;
  background-color: var(--table-data-bg-color);
  color: var(--black-color);
}

.ant-table-thead > tr > th {
  border: none;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -2%;
  line-height: 18px;
  color: var(--table-heading-color);
  background-color: var(--table-head-bg-color) !important;
}