:root {
  --primary-green:#00963F;
  --dark-green: #36693E;
  --secondary-text-color: #6C7278;
  --black-color:#000;
  --white-color:#fff;
  --primary-grey-color: #9D9D9D;
  --light-red: #E15C7A;
  --background-color:#C6C8CB;
  --border-color:#DCE4E8;
  --grey-color:#4a4a4a;
  --sky-blue-color: #7EC2FF;
  --icon-background-color: #54a6ff;
  --red-color: #e61313;
  --light-orange-color:#FFD66B;
  --light-grey-color: #f2efff;
  --table-heading-color: #acb5bb;
  --bg-gray-color:#f1f6ee;
  --input-gray-color: #ACB5BB;
  --tag-green-bg:#E0F0E4;
  --tag-red-bg:#FEECEB;
  --maroon-red:#B12F30;
}



