:root {
  --primary-green:#00963F;
  --secondary-text-color: #6C7278;
  --black-color:#000;
  --white-color:#fff;
  --primary-grey-color: #9D9D9D;
  --light-red: #E15C7A;
  --background-color:#C6C8CB;
  --border-color:#DCE4E8;



}



