.login-container {
  height: 100vh;
}

.login-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(#d0ecdb, #e6f5ec, #57ba81);
  height: 100vh;
}

.logo {
  width: 150px;
  margin-bottom: 16px;
}

.login--p {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.1px;
  line-height: normal;
  color: #000;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
}

.signin-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.signin-input:focus {
  outline: none;
  border: none;
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.forgot-password {
  text-align: right;
  display: block;
  margin-bottom: 20px;
  color: #424242;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
.forgot-password:hover {
  color: var(--primary-green);
}
.login-button {
  width: 100%;
  padding: 5px;
  background-color: #00963f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.terms {
  font-size: 14px;
  color: #373737;
  /* margin-top: 12px; */
  font-weight: 400;
}

.login-image {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 0;
}

.login-image .ant-carousel,
.login-image .ant-carousel .slick-slider,
.login-image .ant-carousel .slick-list,
.login-image .ant-carousel .slick-track,
.login-image .ant-carousel .slick-slide > div {
  height: 100%;
}

.login-image .ant-carousel .slick-slide {
  position: relative;
  text-align: center;
  height: 100%;
}

.login-image .ant-carousel .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  text-align: left;
  background: rgba(0, 0, 0, 0.05);
}
.image-overlay h1 {
  margin: 0;
  padding: 10px;
  font-size: 26px;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
  font-family: "Inter";
}
.image-overlay p {
  margin: 0;
  font-size: 16px;
  padding: 10px;
  line-height: 1.5;
  color: #fff;
  font-weight: 500;
  font-family: "Inter";
}

.ant-carousel .slick-dots-bottom {
  bottom: 20px;
}

.ant-carousel .slick-dots li {
  display: inline-block;
  width: 40px;
  height: 8px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  margin: 0 5px;
  transition: background-color 0.3s;
}

.ant-carousel .slick-dots li.slick-active {
  background-color: #00963f;
  width: 40px;
}

.signup-container {
  height: 100vh;
}

.signup-form {
  padding: 40px;
  background-image: radial-gradient(#d0ecdb, #e6f5ec, #57ba81);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.welcome-text {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.1px;
  line-height: normal;
  color: #000;
  /* margin-bottom: 20px; */
}

.signup-title {
  font-size: 20px;
  font-weight: 600;
  /* margin-bottom: 20px; */
  color: #333;
  line-height: normal;
  letter-spacing: 0.1px;
}

.password-hint {
  color: #667085;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-top: 4px;
  margin-bottom: 0;
}

.login-link {
  color: #667085;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
  letter-spacing: -0.1px;
}

.login-link a {
  color: #00963f;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.1px;
  text-decoration: none;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #00963f;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #007a33;
}

.signup-image {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  padding: 0;
}

.signup-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */
/* ============================================================================================ */

@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
    height: 100vh;
  }
  .login-image {
    display: none;
  }
  .signup-form {
    max-width: 100%;
  }

  .signup-image {
    display: none;
  }

  .login-form {
    flex: unset;
  }
}
.ant-carousel .slick-list .slick-slide.slick-active {
  padding: 0;
}
.otp-input-group.input-otp__field {
  height: 50px;
}
.otp-input-group.ant-input-outlined:hover {
  background-color: transparent;
}
.otp-input-group.ant-input-outlined:focus-within {
  background-color: transparent;
}
/* .otp-input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.otp-input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid var(--secondary-text-color);
  border-radius: 10px;
  margin: 0 8px;
  color: var(--primary-green);
  background-color: transparent;
  caret-color: transparent;
}

.otp-input:focus {
  outline: none;
} */
.resend-info {
  text-align: center;
}

.resend-info p {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 600;
}

.resend-info span {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 600;
}
.resend-link {
  color: var(--red-color) !important;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
.login-right-bg-image {
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
}

.login-image-tag {
  width: 100%;
  height: 100%;
  object-fit: contain; 
}


